/* Support Widget Styles */
@font-face {
    font-family: 'Roboto';
    src: url("css2.css") format('woff2');
}

#support-widget {
    font-family: 'Roboto', sans-serif;
}


.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 450px;
    background-color: #1f1f1f;
    border: 1px solid #333333;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    z-index: 1001;

}

.widget-header {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.close-widget-btn {
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    margin-left: auto;
}

.open-widget-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("widget.png");
    background-size: 120%;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    z-index: 1000;
    background-color: white;
    color: #ffffff;

}

.open-widget-btn.dark-theme {
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    .open-widget-btn {
        background-color: white;
    }
}

.messages-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: #2c2c2c;
    border-radius: 10px;
}

.input-container input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

.input-container input:focus {
    border: 1px solid #888;
}

.input-container button {
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container button i {
    font-size: 16px;
}

.typing-indicator {
    font-size: small;
    color: #888;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    /*align-items: flex-start;*/
    flex-direction: column;
    text-align: justify;
}

.user-message {
    background-color: #444;
    color: white;
    align-self: flex-end;
}

.bot-message {
    background-color: #333333;
    color: white;
    align-self: flex-start;
}

.message-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.message-header img {
    margin-right: 5px;
}

.message-header span {
    font-weight: bold;
}

.message-content {
    margin-left: 5px;
}

#widget-message-input {
    flex: 1;
    padding: 10px;
    resize: none;

    border-radius: 5px;
    width: calc(100% - 80px); /* Width of the send button */
    box-sizing: border-box;
}

#widget-send-button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

#widget-send-button:disabled {
    background-color: #444;
    cursor: not-allowed;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
   /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index:1002;
}

.modal-content {
    background-color: #1f1f1f;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    color: white;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Maximum width */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.feedback-input-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between textarea and button */
}
.text-area {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 15px;
    box-sizing: border-box;
    resize: vertical;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.submit-feedback-btn {
    background-color: #444; /* Dark background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px; /* Some padding */
    width: 50px; /* Width to make it round */
    height: 50px; /* Height to make it round */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; /* Increase font size */
    border-radius: 50%; /* Make the button round */
    cursor: pointer; /* Pointer/hand icon */
    transition: background-color 0.3s;
}

.submit-feedback-btn:hover {
    background-color: #758694; /* Slightly lighter dark background on hover */
}

.submit-feedback-btn i {
    color: white; /* White color for FontAwesome icon */
}
.feedback-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.submit-feedback-btn:hover {
   background-color: white;  /* Darker green on hover */
}

.submit-feedback-btn i {
    margin-right: 5px;
}
.feedback-buttons .fa {
    cursor: pointer;
    font-size: 15px;
    transition: color 0.3s;
}

@keyframes typing {
    0%, 20% { content: "."; }
    30%, 50% { content: ".."; }
    60%, 80% { content: "..."; }
    90%, 100% { content: "...."; }
}

.typing-indicator::after {
    content: "...";
    animation: typing 2s steps(1, end) infinite;
}

/* Новый стиль для логотипа */
.header-left .logo {
    height: 100px; /* Установите нужную высоту логотипа */
}


/* Новый стиль для анимации слов */
.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden; /* Скрытие переполнения */
    width: 100%; /* Ширина */
    height: 100%; /* Высота */
    display: grid; /* Используем CSS Grid */
    grid-template-columns: repeat(18, 1fr); /* 18 равных колонок */
}

/* Стили для линий */
.line {
    position: relative; /* Для позиционирования псевдоэлементов */
    width: 100%; /* Полная ширина контейнера */
    height: 100%; /* Полная высота контейнера */
    display: flex;
    flex-direction: column; /* Размещаем слова по вертикали */
    justify-content: space-around; /* Разделяем слова по всей высоте */
    animation: move 40s linear infinite; /* Медленная анимация движения слов */
}

/* Стили для слов */
.word {
    color: #ffffff; /* Белый цвет текста */
    font-size: 14px; /* Размер текста */
    text-align: center; /* Центрирование текста */
    margin: 10px auto; /* Центрирование слова с увеличением дистанции */
    flex-shrink: 0; /* Убедитесь, что слова не сжимаются */
    opacity: 1; /* Начальная непрозрачность */
    transition: opacity 1s ease; /* Плавное изменение прозрачности */
}

/* Анимация движения слов сверху вниз */
@keyframes move {
    0% {
        transform: translateY(-100%); /* Начало за пределами верхней части */
    }
    100% {
        transform: translateY(100%); /* Конец за пределами нижней части */
    }
}

/* Задержка анимации и направление движения для четных и нечетных слов */
.line:nth-child(odd) {
    animation: move 40s linear infinite; /* Анимация для нечетных слов */
}
.line:nth-child(even) {
    animation: move 40s linear infinite; /* Анимация для четных слов */
    animation-direction: reverse;
}
/* модальное окно */
